{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-length": "short",
    "declaration-no-important": true,
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-before": [
      "always", {
        "ignoreAtRules": ["for"]
      }
    ],
    "declaration-block-semicolon-newline-after": "always",
    "function-whitespace-after": "always",
    "indentation": 2,
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "order/properties-alphabetical-order": true,
    "rule-empty-line-before": ["always", {
      "except": ["first-nested", "after-single-line-comment"]
    }],
    "selector-list-comma-newline-after": "always",
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "selector-type-case": "lower",
    "selector-max-class": 3,
    "selector-max-attribute": 1,
    "selector-max-id": 1,
  }
}
