/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  background-color: var(--color-scroll);
  border-left: 1px solid var(--color-scroll);
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  /* border-radius: 16px; */
  outline: 10px solid transparent;
}
