/* PostCss variables like css4 custom properties */
:root {
  --font-text: OpenSans-Regular, sans-serif;
  --color-blue: #32465a;
  --color-selection: #76e6c8;
  --color-dark: #203e65;
  --color-sky: #8ed6fb;
  --color-border: #545;
  --color-scroll: #4169e1;
  --color-input: #1ab188;
  --color-placeholder: #888;
}

/* Sass variables is allowed as well*/
$color-special: steelblue;
