html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Contacts
  body
    #contacts
      .divider
        img(src=require("./images/webpack_after.png"), alt="original")
        .beforeImg
          img(src=require("./images/webpack_before.png"), alt="modified")
        span.handle
