html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Getting started
  body
    #root
      .root__container
        .root__boxcontainer
          .root__boxcontainer__form
            .root__form__title
              h1.title REGISTRATION FORM
            .root__form__container
              form.root__form(method="post")
                .root__form__controls
                  .root__form__block
                    input.name.root__form__input(type="text", name="name", placeholder="Name", maxlength="35", autocomplete="off", required)
                  .root__form__block
                    input.phone.root__form__input(type="tel", name="phone", placeholder="Phone", maxlength="9", autocomplete="off", required)
                  .root__form__block
                    input.email.root__form__input(type="email", name="email", placeholder="Email", maxlength="35", autocomplete="off", required)
                  .root__form__block
                    input.textresume.root__form__input(type="text", name="textresume", placeholder="Attach your resume", maxlength="100", readonly="")
                    input#resume.resume.root__form__file(type="file", name="resume", accept=".pdf,.docx")
                    .root__form__sibling
                      .sibling__file
                        label(for="resume") Choose file
                      .sibling__file
                        p.description Attach a word or pdf file.#[br] 800KB max.
                  .root__form__block
                    include layouts/includes/select
                .root__form__button
                  button.button(type="submit") Enviar
