@import '../utils/_variables.pcss';

body,
html {
  height: 100%;
}

body {
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--color-dark),
    var(--color-blue),
    var(--color-dark)
  );
  display: flex;
  justify-content: center;
  text-align: center;

  * {
    box-sizing: border-box;
  }
}
